* {
  margin: 0;
  padding: 0;
}

body {
  overflow: overlay;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar {
  width:6px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #f1c064;
  border-radius: 10px;
}

.App {
  background-color: black;
}
